### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load 
file_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_load)

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data["SN"].count()
player_count

print("Total number of players:" + str(player_count))
#player_count_df = pd.DataFrame({"Total Players"[total_players]})

Total number of players:780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data["Item ID"].nunique()
unique_items

avg_price = purchase_data["Price"].mean() 
average_price_rounded = np.round(avg_price,2)
average_price_rounded

purchase_total = purchase_data["Purchase ID"].count()
purchase_total

total_sales = purchase_data["Price"].sum()
total_sales

#summary data frame to hold the results
summary_results_df = pd.DataFrame({"Unique Items" : [unique_items],                                                                                                                                                                                                                                                          
                                "Average Price" : [average_price_rounded],
                                "Number of purchases" : [purchase_total],
                                "Total Sales" : [total_sales]})
summary_results_df

   Unique Items  Average Price  Number of purchases  Total Sales
0           179           3.05                  780      2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#Purchase count and purchase average for male 
purchase_by_gender_male = purchase_data.loc[purchase_data["Gender"]== "Male"]
purchase_count_male = purchase_by_gender["Price"].count()
purchase_average_male = purchase_by_gender["Price"].mean()
purchase_total_male = purchase_by_gender["Price"].total()
purchase_by_gender_male

AttributeError: 'Series' object has no attribute 'total'

In [6]:
#Purchase count and purchase average for female 
purchase_by_gender_female = purchase_data.loc[purchase_data["Gender"]== "Female"]
purchase_count_female = purchase_by_gender["Price"].count()
purchase_average_female = purchase_by_gender["Price"].mean()
purchase_average_female

3.203008849557519

In [12]:
purchase_data["Gender"] == "Other / Non-Disclosed"

0      False
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777    False
778    False
779    False
Name: Gender, Length: 780, dtype: bool

In [14]:
#Purchase count and purchase average for other
purchase_by_gender_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
purchase_count_other = purchase_by_gender["Price"].count()
purchase_count_other = purchase_by_gender["Price"].mean()
purchase_by_gender_other

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [ ]:
#Created data frame 
gender_purchase_df = pd.DataFrame({
"Purchase Count" : [males, females, oth_non_players],
"Avg Purchase Price" : [purchase_average_male, purchase_average_female, purchase_average_other],
"Avg Total Purchase Price" : [purchase_count_male, purchase_count_female, purchase_count_other]
}).round

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#establish bins for ages##
purchase_data.dtypes
master_bin = purchase_data["Age"].astype(str).astype(int)
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:

bin_ages = [0, 9.9, 15.9, 20.9, 25.9, 30.9, 35.9, 105]
age_range = ["under 10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "over 40"]

In [29]:
purchasing_data.df("Purchasing Analysis") = pd.cut(purchasing_data.df["Purchase Count", 
                                      "Avg Purchase Price", 
                                      "Avg Total Purchase Price"], 
                                   bin_ages, labels=age_ranges, includelowest=true)

SyntaxError: cannot assign to function call (<ipython-input-29-7adc30b2439c>, line 1)

In [30]:
 #Run basic calculations to obtain the results in the table below
top_spenders = purchase_data.groupby("SN")

top_count = top_spenders("Price").count
top_total = top_spenders("Price").sum
top_average = top_spenders("Price").mean

#Created a summary data frame to hold the results
total_sp_df = pd.DataFrame({
"Purchase Count" : top_count
#"Avg Purchase Price" : top_average
#"Total Purchase Value" : top_total}).round

#Sort the total purchase value column in descending order
#total_sp_df = total_sp_df.sort_values(by = "Purchase Count", "Avg Purchase Price", "Total Purchase Value")
total_sp_df = total_sp_df.sort_values(by = "Total Purchase Value", ascending = false)

total_sp_df.head

SyntaxError: invalid syntax (<ipython-input-30-02515a2d0daf>, line 16)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame