### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load 
file_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_load)

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data["SN"].count()
player_count

print("Total number of players:" + str(player_count))
#player_count_df = pd.DataFrame({"Total Players"[total_players]})

Total number of players:780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data["Item ID"].nunique()
unique_items

avg_price = purchase_data["Price"].mean() 
average_price_rounded = np.round(avg_price,2)
average_price_rounded

purchase_total = purchase_data["Purchase ID"].count()
purchase_total

total_sales = purchase_data["Price"].sum()
total_sales

#summary data frame to hold the results
summary_results_df = pd.DataFrame({"Unique Items" : [unique_items],                                                                                                                                                                                                                                                          
                                "Average Price" : [average_price_rounded],
                                "Number of purchases" : [purchase_total],
                                "Total Sales" : [total_sales]})
summary_results_df

   Unique Items  Average Price  Number of purchases  Total Sales
0           179           3.05                  780      2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Count of Male Players
demographics = purchase_data.loc[purchase_data["Gender"] == "Male"]
males = len(demographics)

# Count of Female Players
demographics = purchase_data.loc[purchase_data["Gender"] == "Female"]
females = len(demographics)

#Count of others 
demographics = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
oth_non_players = len(demographics)

#% of male players
males_percent = males / player_count * 100
males_percent

#% of Female players
females_percent = females / player_count * 100

#% of thhers/nondisclosed 
oth_non_players_percent = oth_non_players / player_count * 100
oth_non_players_percent

demographics_data = pd. DataFrame({
"Total Count" : [males, females, oth_non_players], 
"Percent of Players" : [males_percent, females_percent, oth_non_players_percent], 
"Gender": ["Male", "Female","Other/Non-Disclosed"]
}).round(1) 

demographics_data_chart = demographics_data.set_index("Gender")
demographics_data_chart

                     Total Count  Percent of Players
Gender
Male                         652                83.6
Female                       113                14.5
Other/Non-Disclosed           15                 1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Purchase count and purchase average

purchase_by_gender = purchase_data.loc[purchase_data["Gender"]== "Male"]
purchase_count_male = purchase_by_gender["Price"].count()
purchase_average_male = purchase_by_gender["Price"].mean()
purchase_average_male

3.0178527607361953

In [13]:
purchase_by_gender = purchase_data.loc[purchase_data["Gender"]== "FeMale"]
purchase_count_female = purchase_by_gender["Price"].count()
purchase_average_female = purchase_by_gender["Price"].mean()
purchase_by_gender.head()

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []

In [ ]:

purchase_by_gender = purchase_data.loc[purchase_data["Gender"== "Other / non disclosed"]
purchase_count_other = purchase_by_gender["Price"].count()
purchase_average_other = purchase_by_gender["Price"].mean()

In [ ]:
#Created data frame 
gender_purchase_df = pd.DataFrame({
"Purchase Count" : [males, females, oth_non_players],
"Avg Purchase Price" : [purchase_average_male, purchase_average_female, purchase_average_other],
"Avg Total Purchase Price" : [purchase_count_male, purchase_count_female, purchase_count_other]
}).round

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#establish bins for ages##
purchase_data.dtypes
master_bin = purchase.data["Age"].astype(str).astype(int)
purchase_data.dtypes

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bin_ages = [0, 9.9, 15.9, 20.9, 25.9, 30.9, 35.9, 105]
age_range = ["under 10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "over 40"]

In [ ]:
 #Run basic calculations to obtain the results in the table below
top_spenders = purchase_data.groupby("SN")

top_count = top_spenders("Price").count
top_total = top_spenders("Price").sum
top_average = top_spenders("Price").mean

#Created a summary data frame to hold the results
total_sp_df = pd.DataFrame({
"Purchase Count" : top_count
#"Avg Purchase Price" : top_average
#"Total Purchase Value" : top_total}).round

#Sort the total purchase value column in descending order
#total_sp_df = total_sp_df.sort_values(by = "Purchase Count", "Avg Purchase Price", "Total Purchase Value")
total_sp_df = total_sp_df.sort_values(by = "Total Purchase Value", ascending = false)

total_sp_df.head

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame